.header {
    border-bottom: 1px solid #ECECEC;
}
.header-container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.site-nav__item {
    display: block; 
    margin-right: 50px;
    margin-left: 0;
    position: relative;
    &:last-child {
    margin-right: 0;
}
}
.site-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--main-text-color); 
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
    
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}
.current {
    color: var(--accent-color);
}

.site-nav__link.current {
    color: var(--accent-color);
    &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
}

/*Контакты*/
.contacts-links {
    display: flex;
    align-items: center;
    margin-left: auto; 
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
}
.contacts-links__mail {
    margin-right: 30px;
}
.contacts-links__icon {
    margin-right: 10px;
    fill: var(--secondary-accent-color);
    transition: fill 250ms var(--timing-function);

.site-nav__link:hover  &,
.site-nav__link:focus & {
    fill: var(--accent-color);
}
}

.contacts-links__link {
    color: var(--secondary-accent-color); 
}
