.hero {
    padding: 200px 0; 
    background: #2F303A;
    text-align: center; 
    width: 1600px; 
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
    ),    
    url("../images/Img.jpg");

    background-size: cover;
    background-position: center;
}
.hero__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.hero__head {
    margin: 0 auto 30px;
    max-width: 696px;
    
    font-family: var(--primary-font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.hero__button {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
   
    color: var(--secondary-text-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--background-color); 
}
}